<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Where's Waldo</title>
</head>
<body>
    <header>
        <center>
            <h1>Where's Waldo</h1>
        </center>
        
    </header>
    <main>
        <center>
            <h4>HIGHSCORES</h4>
        </center>
           
            <table class="striped" id='myTable'>
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Time</th>
                        <th>User</th>
                    </tr>
                  </thead>
          
                  <tbody class='hiscore'>
                <% for(let i = 0; i < players.length; i++) { %>
                    <tr>
                      <td> <%= i + 1 %> </td>
                      <td><%= players[i].score %></td>
                      <td><%= players[i].username %></td>
                    </tr>
                    
                <% } %> 
                  </tbody>


            </table>